footer {
    display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  gap: 15px;
  color: #00a29a;
  background-image: url(images/background_image.jpg);
}

.footer-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%;
}

.input-text {
    border-radius: 5px;
    background-color: #ffffff9e;
    padding: 5px 10px;
    border: 1px solid #00a29a;
}

.form-input-btn {
    width: 50%;
    background-color: #00a29a;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 5px;
}