.section-presentation {
  background-image: url(images/back.jpeg);
  background-size: cover;
}

.container-presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0;
  gap: 20px;
  background-color: #00000036;
}

.container-presentation-h1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.presentation {
  display: flex;
  justify-content: center;
}

.presentation-h1 {
  text-align: center;
  color: white;
}

.presentation-p {
  color: #0bfff3;
}

.container-presentation-img {
  padding: 50px 0 0;
  display: flex;
  justify-content: center;
  width: 50%;
}
.presentation-img {
  border-radius: 100%;
  max-width: 220px;
}

.container-about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  color: white;
  background-color: #00000082;
  gap: 20px;
}

.about-me-h2 {
  color: #00a29a;
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  .container-presentation {
    flex-direction: row;
  }
}
