.section-presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0 70px;
}

.container-presentation-h1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3px;
}

.presentation {
  display: flex;
  justify-content: center;
}

.presentation-h1 {
  text-align: center;
  color: black;
}

.presentation-p {
  color: #00a29a;
}

.container-presentation-img {
  padding: 50px 0;
  display: flex;
  justify-content: center;
}
.presentation-img {
  width: 50%;
  border-radius: 100%;
}
